@import url('https://fonts.googleapis.com/css?family=Poppins');
body{
    background: #231123;
    color: white;
    font-family: 'Poppins';
}

#headbox{
    display: inline-block;
    text-align: center;
    width: 100%;
    font-size: 350%;
    transition: 0.5s;
}

.headline{
    text-align: center;
    display: inline-block;
    transition: transform 350ms ease;
}

#titlename{
    opacity: 0%;
    display: inline-block;
    text-align: center;
    width: 100%;
    font-size: 350%;
    margin-top: 1%;
    transition: 0.5s;
}

#headbox > .headline{
    transition-duration: 800ms;
}

#headbox:hover > .headline:nth-child(1){
    transform: translate(-40%, 60%) rotate(-40deg);
}
#headbox:hover > .headline:nth-child(2){
    transform: translate(20%, -20%) rotate(8deg);
}
#headbox:hover > .headline:nth-child(3){
    transform: translate(-10%, 60%) rotate(-6deg);
}


#headbox:hover > .headline:nth-child(5){
    transform: translate(-10%, 8%) rotate(0deg);
}
#headbox:hover > .headline:nth-child(6){
    transform: translate(0%, -20%) rotate(5deg);
}
#headbox:hover > .headline:nth-child(7){
    transform: translate(0%, 20%) rotate(-3deg);
}
#headbox:hover > .headline:nth-child(8){
    transform: translate(0%, -40%) rotate(-5deg);
}
#headbox:hover > .headline:nth-child(9){
    transform: translate(0%, 15%) rotate(10deg);
}
#headbox:hover > .headline:nth-child(10){
    transform: translate(0%, -50%) rotate(8deg);
}
#headbox:hover > .headline:nth-child(11){
    transform: translate(0%, 15%) rotate(-6deg);
}
#headbox:hover > .headline:nth-child(12){
    transform: translate(0%, -36%) rotate(-3deg);
}
#headbox:hover > .headline:nth-child(13){
    transform: translate(0%, 50%) rotate(0deg);
}
#headbox:hover > .headline:nth-child(14){
    transform: translate(10%, 70%) rotate(4deg);
}


#headbox:hover > .headline:nth-child(16){
    transform: translate(-10%, -70%) rotate(8deg);
}
#headbox:hover > .headline:nth-child(17){
    transform: translate(0%, -10%) rotate(-7deg);
}
#headbox:hover > .headline:nth-child(18){
    transform: translate(0%, -60%) rotate(-12deg);
}
#headbox:hover > .headline:nth-child(19){
    transform: translate(0%, -20%) rotate(6deg);
}
#headbox:hover > .headline:nth-child(20){
    transform: translate(-15%, 60%) rotate(-20deg);
}
#headbox:hover > .headline:nth-child(21){
    transform: translate(0%, 30%) rotate(14deg);
}
#headbox:hover > .headline:nth-child(22){
    transform: translate(10%, -30%) rotate(40deg);
}


#headbox:hover > .headline:nth-child(24){
    transform: translate(-10%, 60%) rotate(-10deg);
}
#headbox:hover > .headline:nth-child(25){
    transform: translate(0%, -10%) rotate(14deg);
}
#headbox:hover > .headline:nth-child(26){
    transform: translate(0%, 20%) rotate(-9deg);
}
#headbox:hover > .headline:nth-child(27){
    transform: translate(0%, 40%) rotate(3deg);
}
#headbox:hover > .headline:nth-child(28){
    transform: translate(0%, 20%) rotate(-1deg);
}
#headbox:hover > .headline:nth-child(29){
    transform: translate(0%, -20%) rotate(-200deg);
}
#headbox:hover > .headline:nth-child(30){
    transform: translate(0%, 50%) rotate(-11deg);
}
#headbox:hover > .headline:nth-child(31){
    transform: translate(0%, 30%) rotate(5deg);
}
#headbox:hover > .headline:nth-child(32){
    transform: translate(40%, 60%) rotate(40deg);
}


#outerBox{
    margin: auto;
    width: 100%;
    padding-top: 5%;
    padding-bottom: 10%;
    text-align: center;
    display: inline-block;
    transition: transform 1.5s ease-in;
}


.button{
    margin: 5px;
    border: 0px;
    width: 30%;
    padding: 20px;
    display: inline-block;
    text-align: center;
    background: #231123;
    color: white; 
    font-size: 30px;
    border: 1px solid white;
    transition: 0.5s;
}

.button:hover{
    transform: scale(1.1);
    transition: 0.5s;
    
}

.num{
    text-align: center;
    width: 10%;
    border: 0px;
    padding: 4.5%;
    display: inline-block;
    background: rgb(94, 36, 36);
    color: white; 
    font-size: 20px;
    border-right: 1px solid rgb(94, 36, 36);
    border-radius: 5px;
}

#nameBox{
    margin: 5px;
    width: 95%;
    display: inline-block;
    text-align: center;
    background: #231123;
    color: white; 
    font-size: 20px;
    white-space: nowrap;
    transition: 1s ease-in-out;
}

#chapterBox{
    margin: 5px;
    width: 95%;
    display: inline-block;
    text-align: center;
    background: #231123;
    color: white;
    font-size: 20px;
    white-space: nowrap;
    transition:  1s ease-in-out;
}

#returnButton{
    opacity: 0%;
    display: inline-block;
    background: #231123;
    color: white;
    border: 1px solid white;
    transition: 0.5s;
    font-size: 30px;
    border-radius: 50%;
    padding: 8px;
    margin: 5px;
    text-decoration: none;
    font-weight: 600;
    width: 50px;
    height: 50px;
    line-height: 20px;
    text-align: center;
    padding-top: 14px;
}

#returnButton:hover{
    transform: scale(0.9);
    transition: 0.5s;
}